
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="trackName">
    <th mat-header-cell *matHeaderCellDef>Track Name &nbsp;&nbsp;&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      {{ element.trackName }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="summitRequirement">
    <th mat-header-cell *matHeaderCellDef>
      Summit Requirement &nbsp;&nbsp;&nbsp;
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.summitRequirement }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="pendngRequirement">
    <th mat-header-cell *matHeaderCellDef>
      Pending Requirement&nbsp;&nbsp;&nbsp;
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.pendngRequirement }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="fullfilledPositions">
    <th mat-header-cell *matHeaderCellDef>
      Fullfilled Requirement&nbsp;&nbsp;&nbsp;
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fullfilledPositions }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="CIRejected">
    <th mat-header-cell *matHeaderCellDef>CI Rejected&nbsp;&nbsp;&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      {{ element.CIRejected }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="CIScheduled">
    <th mat-header-cell *matHeaderCellDef>CI Scheduled&nbsp;&nbsp;&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      {{ element.CIScheduled }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="CITBS">
    <th mat-header-cell *matHeaderCellDef>CI TBS</th>
    <td mat-cell *matCellDef="let element">
      {{ element.CITBS }}&nbsp;&nbsp;&nbsp;
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let item of labels"  matColumnDef={{item}}>
      <th mat-header-cell *matHeaderCellDef class="tableHeader"> {{item}} </th>
      <td mat-cell *matCellDef="let element " class="tableData"> {{element[item]}} </td>
    </ng-container> -->
    <!-- <ng-container   matColumnDef="trackName">
      <th mat-header-cell *matHeaderCellDef class="tableHeader">Track Name &nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="tableData">{{element.trackName}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container>

    <ng-container   matColumnDef="summitRequirement">
      <th mat-header-cell *matHeaderCellDef class="tableHeader"> Summit Requirement &nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="tableData"> {{element.summitRequirement}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container>

    <ng-container  matColumnDef="pendngRequirement">
      <th mat-header-cell *matHeaderCellDef class="tableHeader"> Pending Requirement&nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="tableData"> {{element.pendngRequirement}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container>

    <ng-container matColumnDef="fullfilledPositions">
      <th mat-header-cell *matHeaderCellDef class="tableHeader"> Fullfilled Requirement&nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="tableData"> {{element.fullfilledPositions}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container>

    <ng-container matColumnDef="CIRejected">
      <th mat-header-cell *matHeaderCellDef class="tableHeader"> CI Rejected&nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="tableData"> {{element.CIRejected}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container>

    <ng-container matColumnDef="CIScheduled">
      <th mat-header-cell *matHeaderCellDef class="tableHeader">CI Scheduled&nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="tableData"> {{element.CIScheduled}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container>

    <ng-container matColumnDef="CITBS">
      <th mat-header-cell *matHeaderCellDef class="tableHeader"> CI TBS </th>
      <td mat-cell *matCellDef="let element" class="tableData"> {{element.CITBS}}&nbsp;&nbsp;&nbsp;</td>
    </ng-container> -->
    
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

