<form
  [formGroup]="candidate_form"
  (ngSubmit)="candidate_form.status !== 'INVALID' && addEmployee()"
  class="border p-3 rounded-3"
>
  <div class="row">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Candidate Details</span>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="employee_type">Candidate Type: </label>
      <input
        class="radioButton"
        type="radio"
        id="employee_type"
        formControlName="employee_type"
        value="internal"
        (change)="selectCandidateType($event)"
      />
      <label for="internal">Internal</label>
      <input
        class="radioButton"
        type="radio"
        formControlName="employee_type"
        value="external"
        (change)="selectCandidateType($event)"
      />
      <label for="external">External</label>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="accountName" class="form-label"> Account Name </label>
      <div class="col-sm-3">
        <select
          name="accountName"
          class="form-control"
          formControlName="accountName"
        >
          <option>-- Select Account --</option>
          <option>Summit_AI</option>
          <option>Reporting</option>
        </select>
      </div>
    </div>
    <div class="col mb-3">
      <label for="projectId" class="form-label"> Project Id </label>
      <div class="col-sm-3">
        <select
          name="projectId"
          class="form-control"
          formControlName="projectId"
        >
          <option>-- Select Project --</option>
          <option>Summit_123</option>
          <option>Summit_456</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3" *ngIf="isCandidateType">
      <label for="employeeId" class="form-label">Employee ID</label>
      <input
        type="text"
        class="form-control"
        id="employeeId"
        formControlName="employeeId"
        [ngClass]="{
          error:
            getControl('employeeId')?.errors &&
            getControl('employeeId')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employeeId')?.errors && getControl('employeeId')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employeeId')?.errors?.['required']"
        >
          Employee Id is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('employeeId')?.errors?.['minlength']"
        >
          Must be atleast 5 digits.</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('employeeId')?.errors?.['pattern']"
        >
          Accepts numeric values only.</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        [ngClass]="{
          error:
            getControl('firstName')?.errors && getControl('firstName')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('firstName')?.errors && getControl('firstName')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('firstName')?.errors?.['required']"
        >
          First name is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        [ngClass]="{
          error:
            getControl('lastName')?.errors && getControl('lastName')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('lastName')?.errors && getControl('lastName')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('lastName')?.errors?.['required']"
        >
          Last name is required</small
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{
          error: getControl('email')?.errors && getControl('email')?.touched
        }"
      />
      <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('email')?.errors?.['required']"
        >
          Email id is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('email')?.errors?.['pattern']"
        >
          Valid Email id .</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="mobileNumber" class="form-label">Mobile Number</label>
      <input
        type="text"
        class="form-control"
        id="mobileNumber"
        formControlName="mobileNumber"
        [ngClass]="{
          error:
            getControl('mobileNumber')?.errors &&
            getControl('mobileNumber')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('mobileNumber')?.errors &&
          getControl('mobileNumber')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('mobileNumber')?.errors?.['required']"
        >
          Mobile Number is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('mobileNumber')?.errors?.['pattern']"
        >
          Enter valid mobile number.</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="techTrackId" class="form-label"> Track </label>
      <div class="col-sm-3">
        <select name="Track" class="form-control" formControlName="techTrackId">
          <option>-- Select Track --</option>
          <option value="1">Angular</option>
          <option value="2">.Net</option>
          <option value="3">.Net Core</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <label for="jobTitle" class="form-label">Job Title</label>
      <input
        type="text"
        class="form-control"
        id="jobTitle"
        formControlName="jobTitle"
      />
    </div>
    <div class="col mb-3">
      <label for="grade" class="form-label">Grade</label>
      <input
        type="text"
        class="form-control"
        id="grade"
        formControlName="grade"
      />
    </div>
    <div class="col mb-3">
      <label for="baseLocation" class="form-label">Base Location</label>
      <input
        type="text"
        class="form-control"
        id="baseLocation"
        formControlName="baseLocation"
      />
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <label for="skill" class="form-label">Skill</label>
      <input
        type="text"
        class="form-control"
        id="skill"
        formControlName="skill"
        [ngClass]="{
          error: getControl('skill')?.errors && getControl('skill')?.touched
        }"
      />
      <div *ngIf="getControl('skill')?.errors && getControl('skill')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('skill')?.errors?.['required']"
        >
          Skill is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="experience" class="form-label">Experience</label>
      <input
        type="text"
        class="form-control"
        id="experience"
        formControlName="experience"
        [ngClass]="{
          error:
            getControl('experience')?.errors &&
            getControl('experience')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('experience')?.errors && getControl('experience')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('experience')?.errors?.['required']"
        >
          Experience is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="interviewStatusId" class="form-label"> Status </label>
      <div class="col-sm-3">
        <select
          name="Status"
          class="form-control"
          formControlName="interviewStatus"
        >
          <option>-- Select Status --</option>
          <option value="new">New</option>
          <option value="ci selected">CI Selected</option>
          <option value="ci rejected">CI Rejected</option>
          <option value="tbs">CI TBS</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="dateOfInterview" class="form-label">Interview Date</label>
      <input
        type="date"
        class="form-control"
        id="dateOfInterview"
        formControlName="interviewDate"
      />
    </div>
    <div class="col mb-3">
      <label for="panel" class="form-label">Panel</label>
      <input
        type="text"
        class="form-control"
        id="panel"
        formControlName="Panel"
      />
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="remark" class="form-label">Remarks</label>
      <input
        type="text"
        class="form-control"
        id="remark"
        formControlName="remark"
      />
    </div>
    <div class="col mb-3">
      <label for="LWD" class="form-label">Last Working Day</label>
      <input type="date" class="form-control" id="LWD" formControlName="lwd" />
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3" >
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="candidate_form.status === 'INVALID'"
          *ngIf="!isUpdate"
        >
          Add Candidate
        </button>
      </div>
    </div>
    <div class="col-6 offset-3" >
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="candidate_form.status === 'INVALID'"
          *ngIf="isUpdate"
          (click)="updateCandidateById()"
        >
          Update Candidate
        </button>
      </div>
    </div>
  </div>
</form>
