<form
  [formGroup]="candidate_form"
  (ngSubmit)="candidate_form.status !== 'INVALID' && addEmployee()"
  class="border p-3 rounded-3"
>
  <div class="row">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Candidate Details</span>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="employee_id" class="form-label">Employee ID</label>
      <input
        type="text"
        class="form-control"
        id="employee_id"
        formControlName="employee_id"
        [ngClass]="{
          error:
            getControl('employee_id')?.errors &&
            getControl('employee_id')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_id')?.errors &&
          getControl('employee_id')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_id')?.errors?.['required']"
        >
          Employee Id is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('employee_id')?.errors?.['minlength']"
        >
          Must be atleast 5 digits.</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('employee_id')?.errors?.['pattern']"
        >
          Accepts numeric values only.</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_first_name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="employee_first_name"
        formControlName="employee_first_name"
        [ngClass]="{
          error:
            getControl('employee_first_name')?.errors &&
            getControl('employee_first_name')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_first_name')?.errors &&
          getControl('employee_first_name')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_first_name')?.errors?.['required']"
        >
          First name is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_last_name" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="employee_last_name"
        formControlName="employee_last_name"
        [ngClass]="{
          error:
            getControl('employee_last_name')?.errors &&
            getControl('employee_last_name')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_last_name')?.errors &&
          getControl('employee_last_name')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_last_name')?.errors?.['required']"
        >
          Last name is required</small
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="employee_email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="employee_email"
        formControlName="employee_email"
        [ngClass]="{
          error:
            getControl('employee_email')?.errors &&
            getControl('employee_email')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_email')?.errors &&
          getControl('employee_email')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_email')?.errors?.['required']"
        >
          Email id is required</small
        >
        <small
          class="text-danger"
          *ngIf="getControl('employee_email')?.errors?.['pattern']"
        >
          Valid Email id .</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_track" class="form-label"> Track </label>
      <div class="col-sm-3">
        <select name="Track" class="form-control">
          <option>-- Select Track --</option>
          <option>Angular</option>
          <option>.Net</option>
          <option>.Net Core</option>
          <option>Java</option>
        </select>
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_job_title" class="form-label">Job Title</label>
      <input
        type="text"
        class="form-control"
        id="employee_job_title"
        formControlName="employee_job_title"
        [ngClass]="{
          error:
            getControl('employee_job_title')?.errors &&
            getControl('employee_job_title')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_job_title')?.errors &&
          getControl('employee_job_title')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_job_title')?.errors?.['required']"
        >
          Job title is required</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <label for="employee_source" class="form-label">Source</label>
      <input
        type="text"
        class="form-control"
        id="employee_source"
        formControlName="employee_source"
        [ngClass]="{
          error:
            getControl('employee_source')?.errors &&
            getControl('employee_source')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_source')?.errors &&
          getControl('employee_source')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_source')?.errors?.['required']"
        >
          Source is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_grade" class="form-label">Grade</label>
      <input
        type="text"
        class="form-control"
        id="employee_grade"
        formControlName="employee_grade"
        [ngClass]="{
          error:
            getControl('employee_grade')?.errors &&
            getControl('employee_grade')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_grade')?.errors &&
          getControl('employee_grade')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_grade')?.errors?.['required']"
        >
          Grade is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_base_location" class="form-label"
        >Base Location</label
      >
      <input
        type="text"
        class="form-control"
        id="employee_base_location"
        formControlName="employee_base_location"
        [ngClass]="{
          error:
            getControl('employee_base_location')?.errors &&
            getControl('employee_base_location')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_base_location')?.errors &&
          getControl('employee_base_location')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_base_location')?.errors?.['required']"
        >
          Base Location is required</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <label for="employee_skill" class="form-label">Skill</label>
      <input
        type="text"
        class="form-control"
        id="employee_skill"
        formControlName="employee_skill"
        [ngClass]="{
          error:
            getControl('employee_skill')?.errors &&
            getControl('employee_skill')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_skill')?.errors &&
          getControl('employee_skill')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_skill')?.errors?.['required']"
        >
          Skill is required</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="employee_experience" class="form-label">Experience</label>
      <input
        type="text"
        class="form-control"
        id="employee_experience"
        formControlName="employee_experience"
        [ngClass]="{
          error:
            getControl('employee_experience')?.errors &&
            getControl('employee_experience')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('employee_experience')?.errors &&
          getControl('employee_experience')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('employee_experience')?.errors?.['required']"
        >
          Experience is required</small
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="candidate_form.status === 'INVALID'"
        >
          Add Candidate
        </button>
      </div>
    </div>
  </div>
</form>
