

<mat-toolbar class="mat-elevation-z8">
  <!-- <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
</button> -->
    <!-- <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon> -->
  
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  Resource Tracker DashBoard
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z1">
    <button mat-button class="menu-button sidebar-item active" routerLink="/leadership">
      <span class="align-middle">Leadership View</span>
    </button>
    <button mat-button class="menu-button" routerLink="/details">
      <span>Candidate Details</span>
    </button>
    <button mat-button class="menu-button" routerLink="/candidate">
      <span>Add Candidate Data</span>
    </button>
    <button mat-button class="menu-button" routerLink="/requirement">
      <span>Add Requirement</span>
    </button>
      
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

