<form
  [formGroup]="requirement_form"
  (ngSubmit)="requirement_form.status !== 'INVALID' && addRequirement()"
  class="border p-3 rounded-3"
>
  <div class="row">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Requirement Details</span>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="requirement" class="form-label">Number of Requirement</label>
      <input
        type="text"
        class="form-control"
        id="requirement"
        formControlName="requirement"
        [ngClass]="{
          error:
            getControl('requirement')?.errors &&
            getControl('requirement')?.touched
        }"
      />
      <div
        *ngIf="
          getControl('requirement')?.errors &&
          getControl('requirement')?.touched
        "
      >
        <small
          class="text-danger"
          *ngIf="getControl('requirement')?.errors?.['required']"
        >
          Please add requirement</small
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="track" class="form-label">Track</label>
      <input
        type="text"
        class="form-control"
        id="track"
        formControlName="track"
        [ngClass]="{
          error: getControl('track')?.errors && getControl('track')?.touched
        }"
      />
      <div *ngIf="getControl('track')?.errors && getControl('track')?.touched">
        <small
          class="text-danger"
          *ngIf="getControl('track')?.errors?.['required']"
        >
          Track is required</small
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="requirement_form.status === 'INVALID'"
        >
          Add Requirement
        </button>
      </div>
    </div>
  </div>
</form>
